<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homedeviceclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeDeviceClient"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DetailMembershipActivity"
            android:exported="false"
            android:label="Membership"/>
        <activity
            android:name=".MembershipActivity"
            android:exported="false"
            android:label="Membership" />
        <activity
            android:name=".SearchKodePromoActivity"
            android:exported="false"
            android:label="Kode Promo" />
        <activity
            android:name=".DetailKodePromoActivity"
            android:exported="false"
            android:label="Detail Kode Promo" />
        <activity
            android:name=".KodePromoActivity"
            android:exported="false"
            android:label="Kode Promo" />
        <activity
            android:name=".TransaksiDetailActivity"
            android:exported="false"
            android:label="Detail Transaksi" />
        <activity
            android:name=".TransaksiActivity"
            android:exported="false"
            android:label="Transaksi" />
        <activity
            android:name=".OngoingDetailActivity"
            android:exported="false"
            android:label="Transaksi Saldo e-Wallet" />
        <activity
            android:name=".OngoingSaldoActivity"
            android:exported="false"
            android:label="Transaksi Saldo e-Wallet" />
        <activity
            android:name=".TambahSaldoActivity"
            android:exported="false"
            android:label="Tambah Saldo e-Wallet" />
        <activity
            android:name=".LogWalletActivity"
            android:exported="false"
            android:label="Histori e-Wallet" />
        <activity
            android:name=".WalletActivity"
            android:exported="false"
            android:label="e-Wallet" />
        <activity
            android:name=".DetailAlamatActivity"
            android:exported="false"
            android:label="Alamat" />
        <activity
            android:name=".AddAlamatActivity"
            android:exported="false"
            android:label="Tambah Alamat Baru" />
        <activity
            android:name=".AlamatActivity"
            android:exported="false"
            android:label="Alamat" />
        <activity
            android:name=".DetailUserActivity"
            android:exported="false"
            android:label="Profil" />
        <activity
            android:name=".GantiPasswordActivity"
            android:exported="false"
            android:label="Ganti Password" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeDeviceClient.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeDeviceClient.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HomeDeviceClient.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>